<li class="media my-4">
    <img src="{{userPicture}}" class="align-self-start mr-3 border rounded" alt="{{userName}} profile picture">
    <div class="media-body">
        <h5 class="mt-0 mb-1">{{userName}}</h5>
        <p>{{content}}</p>
    </div>
    <small class="text-muted mr-3">{{time}} </small>
</li>